body {
    background: wheat;
  }

  #inner {
    display: table;
    margin: 0 auto;
  } 
  #outer {

    width:100%
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 10px;
  }
  .custom-btn {
    background:none;
    border:none;
    margin:10;
    padding:10;
    cursor: pointer;
    width: 130px;
    height: 40px;
    color: #33293d;
    font-family: "Arima Madurai", sans-serif;
    font-weight: 900;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }
  
  
  /* 5 */
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    font-size: 24px;
  }
  .btn-5:hover {
    font-weight: 1500;
    color: #483b55;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #483b55;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  
  